@{
    ViewBag.Title = "LamipelVN | List Pallet";
    Layout = "~/Views/Shared/_LayoutGame.cshtml";
}

<div style="width:800px; height:600px; background-color: blue;">

</div>
<script type="text/javascript">
    document.onkeydown = function (e) {
        switch (e.key) {
            case 'ArrowUp':
                // up arrow
                console.log(e.keycode);
                break;
            case 'ArrowDown':
                // down arrow
                console.log(e.keycode);
                break;
            case 'ArrowLeft':
                // left arrow
                console.log(e.keycode);
                break;
            case 'ArrowRight':
                console.log(e.keycode);
            // right arrow
        }
    };
</script>