<div style="width: 650px;">
    <h3>DAILY PRODUCTION REPORT</h3>
    <div style="float: right;margin-bottom: 10px;">
        <span>Date</span><small>2019-01-01</small>
    </div>
    <table style="width: 100%;">
        <thead>
            <tr>
                <th>Selection</th>
                <th>Pallet no.</th>
                <th>Layer</th>
                <th>NW</th>
                <th>GW</th>
                <th>SQFT</th>
                <th>Resa</th>
                <th>PROD.PKL</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td rowspan="3" style="vertical-align: text-top;">SUEDE</td>
                <td>SUEDE19000021</td>
                <td>180</td>
                <td>2000</td>
                <td>2020</td>
                <td>0</td>
                <td>190801</td>
                <td>19255</td>
            </tr>
            <tr>
                <td>SUEDE19000022</td>
                <td>190</td>
                <td>1890</td>
                <td>1910</td>
                <td>0</td>
                <td>190801</td>
                <td>19255</td>
            </tr>
            <tr style="font-weight: bold">
                <td>2 PK</td>
                <td>370</td>
                <td>3890</td>
                <td>3930</td>
                <td>0</td>
                <td></td>
                <td></td>
            </tr>

            <tr>
                <td rowspan="3" style="vertical-align: text-top;">CULATTA I</td>
                <td>CULATTAI19000015</td>
                <td>180</td>
                <td>1800</td>
                <td>1820</td>
                <td>0</td>
                <td>190801</td>
                <td>19256</td>
            </tr>
            <tr>
                <td>CULATTAI19000016</td>
                <td>190</td>
                <td>1920</td>
                <td>1940</td>
                <td>0</td>
                <td>190801</td>
                <td>19256</td>
            </tr>
            <tr style="font-weight: bold">
                <td>2 PK</td>
                <td>370</td>
                <td>3720</td>
                <td>3760</td>
                <td>0</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td rowspan="4" style="vertical-align: text-top;">PU</td>
                <td>PU19000007</td>
                <td>180</td>
                <td>1800</td>
                <td>1820</td>
                <td>0</td>
                <td>190801</td>
                <td>19257</td>
            </tr>
            <tr>
                <td>PU19000008</td>
                <td>190</td>
                <td>1920</td>
                <td>1940</td>
                <td>0</td>
                <td>190801</td>
                <td>19257</td>
            </tr>
            <tr>
                <td>PU19000009</td>
                <td>170</td>
                <td>1800</td>
                <td>1820</td>
                <td>0</td>
                <td>190801</td>
                <td>19257</td>
            </tr>
            <tr style="font-weight: bold">
                <td>3 PK</td>
                <td>540</td>
                <td>5520</td>
                <td>5580</td>
                <td>0</td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>
</div>