
<div name="item" variableid="{0}" class="row-fluid">
    <input name="IMPORTPKL" type="hidden" value="" />
    <input name="PALLETIMPFILEID" type="hidden" value="" />
    <input name="IMPCONTRCODE" type="hidden" value="{0}" />
    <div class="templatespan12">
        <div class="portlet box blue">
            <div class="portlet-title">
                <div class="caption"><i class="icon-reorder"></i>{0}</div>
                <div class="tools">
                    <a href="javascript:;" class="collapse"></a>
                </div>
            </div>
            <div class="portlet-body form">
                <div class="form-horizontal">
                    <div class="control-group">
                        <div class="controls-left-50 nosize">
                            <label class="control-label">Pallet Code:</label>
                            <div class="controls">
                                <input name="NAME" autocomplete="off" type="text" class="span6 m-wrap" />
                            </div>
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="controls-left-50 nosize">
                            <label class="control-label">Material:</label>
                            <div class="controls">
                                <select name="MATERIALID" class="span6"></select>
                            </div>
                        </div>
                        <div class="controls-left-50 nosize">
                            <label class="control-label">Sub Material:</label>
                            <div class="controls">
                                <select name="SUBMATERIALID" class="span6"></select>
                            </div>
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="controls-left-50 nosize">
                            <label class="control-label">PCS:</label>
                            <div class="controls">
                                <input name="PCS" autocomplete="off" type="number" class="span6 m-wrap" />
                            </div>
                        </div>
                        <div class="controls-left-50 nosize">
                            <label class="control-label">NW:</label>
                            <div class="controls">
                                <input name="NW" autocomplete="off" type="number" class="span6 m-wrap" />
                            </div>
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="controls-left-50 nosize">
                            <label class="control-label">SQFT:</label>
                            <div class="controls">
                                <input name="SQFT" autocomplete="off" type="number" class="span6 m-wrap" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
