<div style="border: 2px solid black;width: 145mm;border-radius: 25px;height: 185mm;">
    <div style="width: 100%;border-bottom: 1px solid black;height: 70px;">
        <div style="float: left;height: 100%;vertical-align: middle;text-align: left;width: 108mm;position: relative;padding-left: 15px;">
            <div style="font-size: 21pt;font-family: 'Arial';margin-top: 12px;">LAMIPEL VIETNAM LLC</div>

        </div><img width="50" height="50" src="http://erp.lamipelvn.com/Content/left-logo.png" style="margin-right: 5px;margin-top: 10px;border-radius: 0 25px 0 0;float: right;"><img width="50" height="50" src="http://erp.lamipelvn.com/Content/right-logo.jpg" style="border-radius: 25px 0 0 0;float: right;margin-right: 5px;margin-top: 10px;">

    </div>
    <div style="width: 98%;height: auto;border: 1px solid black;float: left;margin: 5px;"><div style="font-size: 55pt;font-weight: bold;text-align: center;font-family: 'Arial';">{0}</div></div>
    <div style="height: 76mm;width: 100%;">
        <div style="height: 93%;width: 60%;margin: 5px;padding: 5px;border-radius: 25px;float: left;">
            <div style="float:left;width: 100%;height: 100%;">
                <table style="padding: 15px;font-size: 16pt;width: 100%;font-weight: bold;">
                    <tbody>

                        <tr style="line-height: 1.8em;">

                            <td colspan="2" style="text-align: center;font-size: 26pt;">
                                {1} {2}
                            </td>
                        </tr>
                        <tr style="line-height: 1.8em;">

                            <td colspan="2" style="text-align: center;font-size: 26pt;"></td>
                        </tr>
                        <tr style="line-height: 1.8em;">

                            <td colspan="2" style="text-align: center;font-size: 26pt;"></td>
                        </tr>
                        <tr style="line-height: 1.8em;">

                            <td colspan="2" style="text-align: center;font-size: 26pt;"></td>
                        </tr>
                        <tr style="line-height: 1.8em;">

                            <td colspan="2" style="text-align: center;font-size: 26pt;"></td>
                        </tr>
                        <tr style="line-height: 1.8em;">

                            <td colspan="2" style="text-align: center;font-size: 26pt;"></td>
                        </tr>
                        <tr style="line-height: 1.8em;">
                            <td>Layer (PCS)</td>
                            <td style="text-align: right;font-size: 20pt;">
                                {3}
                            </td>
                        </tr>
                        <tr style="line-height: 1.8em;">
                            <td>NW (KGS)</td>
                            <td style="text-align: right;font-size: 20pt;">
                                {4}
                            </td>
                        </tr>
                        <tr style="line-height: 1.8em;">
                            <td>GW (KGS)</td>
                            <td style="text-align: right;font-size: 20pt;">
                                {5}
                            </td>
                        </tr>
                        <tr style="line-height: 1.8em;">
                            <td>SQFT</td>
                            <td style="text-align: right;font-size: 20pt;">{6}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div style="height: auto;width: 31%;margin: auto;padding: 5px;border-radius: 25px;float: right;padding-top: 95px;">
            <div style="float: left;width: 100%;text-align: center;">
                <img src="{9}" style="height: 150px;float: left;">
                <div style="height: 130px;font-size: 8pt;writing-mode: vertical-rl;text-orientation: mixed;float: right;margin-top: 11px;">Scan QR code for more detail</div>
            </div>


        </div>
    </div>
    <div style="width: 98%;height: auto;border: 1px solid black;float: left;margin: 5px;"><div style="font-size: 55pt;font-weight: bold;text-align: center;font-family: 'Arial';">{10}</div></div>
    <div style="margin: 10px;float: left;width: 100%;margin-top: 0px;">
        <div style="font-weight: bold;font-size: 40pt;font-family: 'Arial';margin: 10px 10px 0px 0px;text-align: center;">{11}</div>

    </div>
</div>