<div style="border: 2px solid black;width: 128mm;border-radius: 25px;height: 97mm;float: left;transform: rotate(90deg);margin-top: 20mm;margin-left: -15mm;">
    <div style="width: 100%;">
        <div style="width: auto;height: auto;float: left;">
            <div style="font-size: 58pt;font-weight: bold;text-align: center;font-family: 'Arial';">
                {10}
            </div>
        </div>
        <img width="90" height="80" src="http://erp.lamipelvn.com/Content/left-logo.png" style="margin-right: 5px;margin-top: 10px;border-radius: 0 25px 0 0;float: right;">
        <img width="50" height="50" src="http://erp.lamipelvn.com/Content/right-logo.jpg" style="border-radius: 25px 0 0 0;float: right;margin-right: 5px;margin-top: 10px;">
    </div>
    <div style="clear: both;"></div>
    <div style="height: 70mm;width: 100%;">
        <div style="font-size: 38pt;font-weight: bold;text-align: left;font-family: 'Arial';">
            {0}
        </div>
        <div style="border-radius: 25px;display: table-cell;float: left;width: 100%;">
            <table style="padding: 15px;font-size: 9pt;width: 65mm;font-weight: bold;float: left;">
                <tbody>
                    <tr style="line-height: 2.8em;">
                        <td colspan="2" style="text-align: center;font-size: 14pt;">
                            {1} {2}
                        </td>
                    </tr>
                    <tr style="line-height: 1.8em;">
                        <td>Layer (PCS)</td>
                        <td style="text-align: right;font-size: 14pt;">
                            {3}
                        </td>
                    </tr>
                    <tr style="line-height: 1.8em;">
                        <td>NW (KGS)</td>
                        <td style="text-align: right;font-size: 14pt;">
                            {4}
                        </td>
                    </tr>
                    <tr style="line-height: 1.8em;">
                        <td>GW (KGS)</td>
                        <td style="text-align: right;font-size: 14pt;">
                            {5}
                        </td>
                    </tr>
                    <tr style="line-height: 1.8em;">
                        <td>SQFT</td>
                        <td style="text-align: right;font-size: 14pt;">
                            {6}
                        </td>
                    </tr>
                    <tr style="line-height: 1.8em;">
                        <td colspan="2" style="text-align: center;font-size:18pt;">
                            {8}
                        </td>
                    </tr>
                    <tr style="line-height: 1.8em;">
                        <td colspan="2" style="text-align: center;">
                            {7}
                        </td>
                    </tr>
                </tbody>
            </table>
            <div style="width: 61mm;margin: auto;border-radius: 25px;float: right;">
                <div style="text-align: center;">
                    <img src="{9}" style="height: 190px;float: left;">
                    <div style="height: 180px;font-size: 14pt;writing-mode: vertical-rl;text-orientation: mixed;float: right;font-family: 'Arial';text-align: left;padding-top: 20px;padding-right: 15px;">MADE IN VIETNAM</div>
                </div>
            </div>
        </div>
    </div>
</div>