<!DOCTYPE html>
<!--
Template Name: LamipelVN - Responsive Admin Dashboard Template build with Twitter Bootstrap 2.3.2
Version: 1.4
Author: KeenThemes
Website: http://www.keenthemes.com/preview/?theme=LamipelVN
Purchase: http://themeforest.net/item/LamipelVN-responsive-admin-dashboard-template/4021469
-->
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en" class="no-js">
 <!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
    
</head>
<!-- END HEAD -->
<!-- BEGIN BODY -->
<body >
   
    @RenderBody()

    <script src="/Content/assets/plugins/jquery-1.10.1.min.js" type="text/javascript"></script>
    <script src="/Content/assets/plugins/jquery-migrate-1.2.1.min.js" type="text/javascript"></script>
    <script src="~/Scripts/jquery.cookie.js"></script>
    @RenderSection("scripts", required: false)
    <!-- END JAVASCRIPTS -->
</body>
<!-- END BODY -->
</html>